.classe-i {
    display: flex;
    justify-content: column;
}

.classe-i img {
    margin: 5rem -5rem;
    height: 360px;
}

.titulo-1 {
    width: 28rem;
    margin: 4rem 15rem;
}

#titulo-investimento-para-iniciantes {
    margin: 1rem 0rem;
    color: var(--text-titles);
    font-size: var(--font-size-big);
}

#root {
    background-color: var(--bg-background);
}

#card-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trio {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

iframe {
    margin: 4rem;
}

.aula {
    display: flex;
    flex-direction: column;
    width: 32rem;
    margin: 3rem;
}

h2 {
    padding: 1rem 0rem;
    font-size: var(--font-size-md);
    color: var(--text-titles);
}

p {
    font-size: var(--font-size-sm);
}

hr {
    width: 98rem;
}


@media only screen and (max-width: 480px) {

.classe-i img {
    display: none;
}

.titulo-1 {
    width: 100vw;
    margin: 120px 0px;
}

#titulo-investimento-para-iniciantes {
    margin: 30px;
    font-size: 35px;
    text-align: center;
}

.texto-1 {
    text-align: center;
    margin: 30px;
    font-size: 16px;
    line-height: 21px;
}

#root {
    margin-top: 0px; 
}

.card-vertical {
    margin-inline-end: 50px;
}

.trio { 
    flex-direction: column;
} 

iframe {
    width: 350px;
    height: 210px;
    margin: 42px 400px;
    margin-block-end: 0;
}

.aula {
    width: 351px;
    margin: 25px 400px;
}

h2 {
    margin-top: 15px;
    padding: 0;
    font-size: 24px;
    text-align: center;
}

.trio p {
    margin: 20px 0px;
    text-align: center;
    font-size: 16px;
}

hr {
    width: 350px;
}
}