main {
    margin: 6% 9%;
}

h1 {
    text-align: center;
    font-size: 3.125rem;
    color: var(--text-titles);
}

span {
    display: flex;
    justify-content: center;
    margin: 0.438rem;
    color: #9D9D9D;
}

main img {
    width: 100%;
    margin: 4.313rem 0rem;
}

h2 {
    margin: 1.625rem 0rem;
    color: var(--secundary-color);
}

section {
    margin-top: 15rem;
    background-color: var(--bg-background);
}

h3 {
    padding: 3.938rem;
    text-align: center;
    font-size: 3.125rem;
    color: var(--text-titles);
}

#trio {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

h4 {
    margin: 2.3rem;
    text-align: center;
    font-size: 1.563rem;
    color: var(--text-titles);
}

.card p {
    font-size: 1.063rem;
    padding: 0px 105px;
    text-align: center;
}

p {
    font-size: var(--font-size-sm);
}

button {
    padding: 1.125rem 2.25rem;
    margin: 2.875rem;
    font-size: var(--font-size-sm);
    color: #ffffff;
    background-color: var(--text-titles);
    border-radius: 40px;
    border: none;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

    h1 {
        font-size: 35px;
    }

    main img {
        margin: 18px 0px;
    }

    main p {
        font-size: 15px;
    }

    h2 {
        font-size: 22px;
    }

    #trio {
        flex-direction: column;
    }

    .card {
        margin: 30px 0px;
    }

    .card img {
        width: 200px;
        height: 220px;
    }

    .card p {
        font-size: 15px;
        padding: 0px 50px;
    }

    h3 {
        font-size: 35px;
        padding: 47px 20px;
    }

    h4 {
        font-size: 20px;
        margin: 33px 0px;
    }

    button {
        font-size: 13px;
        padding: 14px 30px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {

    #trio {
        flex-direction: column;
    }

    .card {
        margin: 28px 0px;
    }
}